name: Update SDKs

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/README.md'
      - README.md
      - LICENSE
      - .github/CODEOWNERS

permissions:
  contents: read

concurrency:
  group: ci-sdk-automation

jobs:
  # generate code for the libraries defined in the matrix
  generate:
    strategy:
      matrix:
        project: [ dotnet ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Clone ${{ matrix.project }} repository
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
        repository: Adyen/adyen-${{ matrix.project }}-api-library
        path: ${{ matrix.project }}/repo
        ref:  'patch/32.1.3'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
    - name: Override properties
      if: matrix.project == 'node' || matrix.project == 'java'
      run: cp ${{ matrix.project }}/gradle.properties buildSrc
    - name: Generate code for ${{ matrix.project }}
      run: ./gradlew ${{ matrix.project }}:services
    # Revert changes to InvalidField.cs to prevent a breaking change from an old
    # spec update (e7fc0e4) that flipped constructor arguments.
    - name: Revert changes in specific files for dotnet
      if: matrix.project == 'dotnet'
      run: git restore Adyen/Model/BalancePlatform/InvalidField.cs
      working-directory: ${{ matrix.project }}/repo
    # The modules TokenizationWebhooks, BalanceWebhooks, SessionAuthentication don't exist on the version we are patching.
    - name: Remove unwanted folders and files for dotnet
      if: matrix.project == 'dotnet'
      run: |
        rm -rf Adyen/Model/TokenizationWebhooks
        rm -rf Adyen/Model/BalanceWebhooks
        rm -rf Adyen/Model/SessionAuthentication
        rm -rf Adyen/Service/BalancePlatform/AuthorizedCardUsersService.cs
        rm -rf Adyen/Service/BalancePlatform/TransferLimitsBalanceAccountLevelService.cs
        rm -rf Adyen/Service/BalancePlatform/TransferLimitsBalancePlatformLevelService.cs
      working-directory: ${{ matrix.project }}/repo
    - name: Set PR variables
      id: vars
      run: |
        cd schema
        echo pr_title="[Patch 32.1.3] Code generation: update services and models" >> "$GITHUB_OUTPUT"
        echo pr_body="OpenAPI spec files or templates have been modified on $(date +%d-%m-%Y)         by [commit](https://github.com/Adyen/adyen-openapi/commit/$(git rev-parse HEAD)). " >> "$GITHUB_OUTPUT"
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7
      with:
        path: ${{ matrix.project }}/repo
        token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
        committer: ${{ secrets.ADYEN_AUTOMATION_BOT_TEST_EMAIL }}
        author: ${{ secrets.ADYEN_AUTOMATION_BOT_TEST_EMAIL }}
        branch: sdk-automation/patch/32.1.3/models
        title: ${{ steps.vars.outputs.pr_title }}
        body: ${{ steps.vars.outputs.pr_body }}
        base: 'patch/32.1.3'
        commit-message: |
          ${{ contains(fromJSON('["go", "php", "node"]'), matrix.project) && '[reformat]' }}[adyen-sdk-automation] automated change
