name: Update SDKs

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/README.md'
      - README.md
      - LICENSE
      - .github/CODEOWNERS

permissions:
  contents: read

concurrency:
  group: ci-sdk-automation-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # generate code for the libraries defined in the matrix
  generate:
    strategy:
      matrix:
        project: [ dotnet ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Clone ${{ matrix.project }} repository
      uses: actions/checkout@v6
      with:
        token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
        repository: Adyen/adyen-${{ matrix.project }}-api-library
        path: ${{ matrix.project }}/repo
        ref:  'patch/32.1.3'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Override properties
      if: matrix.project == 'dotnet' || matrix.project == 'node' || matrix.project == 'java' || matrix.project == 'python'  || matrix.project == 'ruby'
      env:
        PROJECT: ${{ matrix.project }}
      run: cp $PROJECT/gradle.properties buildSrc
    - name: Generate code for ${{ matrix.project }}
      env:
        PROJECT: ${{ matrix.project }}
      run: ./gradlew $PROJECT:services
    - name: Set PR variables
      id: vars
      run: |
        cd schema
        echo pr_title="Code generation: update services and models" >> "$GITHUB_OUTPUT"
        echo pr_body="OpenAPI spec files or templates have been modified on $(date +%d-%m-%Y) by [commit](https://github.com/Adyen/adyen-openapi/commit/$(git rev-parse HEAD)). " >> "$GITHUB_OUTPUT"
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8
      with:
        path: ${{ matrix.project }}/repo
        token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
        committer: ${{ secrets.ADYEN_AUTOMATION_BOT_TEST_EMAIL }}
        author: ${{ secrets.ADYEN_AUTOMATION_BOT_TEST_EMAIL }}
        branch: sdk-automation/patch/32.1.3/models
        title: ${{ steps.vars.outputs.pr_title }}
        body: ${{ steps.vars.outputs.pr_body }}
        base: 'patch/32.1.3'
        commit-message: |
          ${{ contains(fromJSON('["go", "php", "node"]'), matrix.project) && '[reformat]' }}[adyen-sdk-automation] automated change
